.sidePanel {
	position: absolute;
	width: 25rem;
	height: 100vh;
	top: 0;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 1rem;
	transition: 0.2s ease-out;
}
.left {
	left: 0;
}
.right {
	right: 0;
}

/* Side panel open close button */
.button {
	position: absolute;
	top: 0;
	width: 3rem;
	height: 3rem;
	display: grid;
	place-items: center;
	transition: 0.2s ease-out;
}
/* For left sidepanel button is on the right */
.button.leftSidePanel {
	right: 0;
	transform: rotateZ(90deg);
}
/* For right sidepanel button is on the left */
.button.rightSidePanel {
	left: 0;
	transform: rotateZ(-90deg);
}

/* Close left sidepanel */
.sidePanel.left.close {
	transform: translateX(-22rem);
}
/* Close right sidepanel */
.sidePanel.right.close {
	transform: translateX(22rem);
}

/* Rotate button when closed */
.sidePanel.left.close .button.close {
	transform: rotateZ(-90deg);
}
.sidePanel.right.close .button.close {
	transform: rotateZ(90deg);
}

/* move content away when side panel is closed */
.content {
	transition: 0.2s ease-out;
}
.sidePanel.left.close .content {
	transform: translateX(-4rem);
}
.sidePanel.right.close .content {
	transform: translateX(4rem);
}

.title {
	font-size: 2rem;
}
