.panel {
	/* min-width: 500px; */
	width: clamp(350px, 40%, 500px);
	min-height: 500px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 1rem;
	padding: 2rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.specs {
	display: flex;
}
