.iconButton {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 2rem;
	/* background-color: transparent; */
	border: none;
	display: grid;
	place-items: center;
	/* color: hsl(var(--neutral-hs), var(--l-0)); */
	/* font-size: 1rem; */
}
.iconButton.iconOnly {
	color: hsl(var(--neutral-hs), var(--l-0));
	background-color: transparent;
}
.iconOnly:hover {
	background-color: hsl(var(--neutral-hs), var(--l-85));
}
.iconOnly:active {
	background-color: hsl(var(--neutral-hs), var(--l-70));
}
