.wrapper {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	cursor: pointer;
}
.label {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	cursor: pointer;
}
.wrapper * {
	/* let wrapper handle click events, not the internal elements */
	pointer-events: none;
}

/* Hide the default checkbox */
.input {
	appearance: none;
	-webkit-appearance: none;
}

.checkbox {
	/* style the custom checkbox */
	width: 1rem;
	height: 1rem;
	border: 2px solid #ccc;
	border-radius: 0.25rem;
	cursor: pointer;
	display: grid;
	place-items: center;
	/* outline: 1px solid red; */
}
.checkIconWrapper {
	display: grid;
	place-items: center;
	opacity: 0;
	/* outline: 1px solid red; */
}

/* Style the checked state of the checkbox */
.input:checked + .checkbox {
	background-color: #007bff;
	border-color: #007bff;
}

/* Make the check icon visible when input is checked */
.input:checked + .checkbox .checkIconWrapper {
	opacity: 1;
}
