:root {
	/* Colors */
	--neutral-hs: 0, 0%;
	--l-100: 100%;
	--l-90: 90%;
	--l-85: 85%;
	--l-80: 80%;
	--l-75: 75%;
	--l-70: 70%;
	--l-30: 30%;
	--l-20: 20%;
	--l-15: 15%;
	--l-10: 10%;
	--l-0: 0%;
}
@media (prefers-color-scheme: dark) {
	:root {
		--l-100: 0%;
		--l-90: 10%;
		--l-85: 15%;
		--l-80: 20%;
		--l-75: 25%;
		--l-70: 30%;
		--l-30: 70%;
		--l-20: 80%;
		--l-15: 85%;
		--l-10: 90%;
		--l-0: 100%;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	min-height: 100vh;
	height: 100%;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

li {
	margin-left: 1rem;
}
