.poi {
	background-color: white;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	position: relative;
}
.poi::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: -6px;
	top: -6px;
	background-color: transparent;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	border: 2px solid white;
	opacity: 0;
}

/* When a part is hovered or when the POI itself is hovered */
@keyframes pulse {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1.5);
	}
}

.poi.hover::before,
.poi:hover::before {
	animation: pulse 0.6s infinite alternate;
}

/* When a poi is clicked or a mesh is selected */
.poi.focus::before,
.poi:focus::before {
	opacity: 1;
}

/* text */
.text {
	position: absolute;
	width: 250px;
	max-height: 100px;
	bottom: 0;
	right: -260px;
	overflow: auto;
	padding: 0.5rem 1rem;
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	border-radius: 1rem;
	visibility: hidden;
	/* Unselectable text */
	-webkit-user-select: none; /* Safari, Chrome, and newer browsers */
	-khtml-user-select: none; /* Older versions of Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
.title {
	font-size: 0.75rem;
	font-weight: bold;
}
.desc {
	font-size: 0.75rem;
}

/* when the poi is active or hovered, display the text */
.poi:hover + .text,
.poi.focus + .text,
.poi:focus + .text {
	visibility: visible;
}
